canvas {
  border: 1px solid gray;
  margin: 5px;
}

.main_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

textarea {
  width: 100%;
  resize: vertical;
}

.instructions {
  resize: none;
}

.small_container {
  width: min-content;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}
